---
import EditionMainContainer from "../gallery/components/EditionMainContainer.astro";
import Contest from "../contest/components/Contest.astro";
import RoboticaIcon from "../../../public/icons/contest/RoboticaIcon.astro";
import ConocimientoIcon from "../../../public/icons/contest/ConocimientoIcon.astro";
import ProgramacionIcon from "../../../public/icons/contest/ProgramacionIcon.astro";
---

<section class='space-y-24 mb-24'>
  <EditionMainContainer
    title='Concursos'
    description='Conoce los concursos que se realizarán durante el evento.'
    image='/FeriaTecnologia.webp'
  />
  <Contest
    title='Concurso de Robótica'
    description='Este concurso evaluará la eficiencia, creatividad, capacidad técnica y solución de desafíos mediante robots autónomos y/o teleoperados.'
    image='/robotica.webp'
    date='Viernes 14 de noviembre de 2025'
    time='2:00 pm'
    place='Laboratorio C de la E.P. de Ingeniería en Informática y Sistemas de la UNJBG (3er piso)'
    base_rules='https://docs.google.com/document/d/1O-nd3pqE_aQQXeD5MeusQFd5DNUaPxwv4ChH7dz95aQ'
    link_form='https://forms.gle/1LsAbzXNViacY71M8'
  >
    <RoboticaIcon slot='iconContest' />
  </Contest>

  <Contest
    title='Concurso de Conocimientos'
    description='Esta competencia ha sido diseñada para desafiar el dominio de los fundamentos teóricos y las habilidades prácticas en  Informática y Sistemas, promoviendo la excelencia académica y el espíritu competitivo, evaluando la agilidad, precisión y profundidad de los conocimientos.'
    image='/conocimiento.webp'
    date='Martes 11 de noviembre de 2025'
    time='2:00 pm'
    place='Auditorio de Veterinaria, Sede Pichones Sur UNJBG'
    base_rules='https://docs.google.com/document/d/1gOlukBQ_IQyLMTB1xEAkEHf9Ztdk_TRxsenOjMmiKYw'
    link_form='https://forms.gle/2uPsWu3aB2wURn5U7'
  >
    <ConocimientoIcon slot='iconContest' />
  </Contest>

  <Contest
    title='Concurso de Programación'
    description='Este concurso evaluará el conocimiento, creatividad, eficiencia, calidad y rapidez en la resolución de problemas algorítmicos y el uso de lenguajes de programación.'
    image='/programacion.webp'
    date='Jueves 13 de noviembre de 2025'
    time='2:00 pm'
    place='Laboratorio A de la E.P. de Ingeniería en Informática y Sistemas de la UNJBG (3er piso)'
    base_rules='https://docs.google.com/document/d/1vEqeGsjEnR6Mnlw06Zs_ARDixMlWWGesb8bR08otcsA'
    link_form='https://forms.gle/Ye6npUSREQ8pYobM8'
  >
    <ProgramacionIcon slot='iconContest' />
  </Contest>
</section>
