---
import IconStar from "../../../../public/icons/IconStar.astro";
import Button from "../../../components/Button.astro";
import SocialNetwork from "../../footer/components/SocialNetwork.astro";
import Counter from "./Counter/Counter";
import TitleMain from "./Counter/TitleMain.astro";
import FlagsContainer from "./FlagsContainer.astro";
import Label from "./Label.astro";
const eventDate = "2025-11-10T21:00:00Z";
---

<div
  class="w-full relative sm:h-dvh min-h-screen flex flex-col justify-center items-center px-6 overflow-hidden"
>
  <div>
    <video
      id="myVideo"
      class="opacity-30 absolute inset-0 w-full h-full object-cover backdrop-blur-sm -z-30"
      autoplay
      muted
      loop
      controlslist="nodownload nofullscreen noremoteplayback"
      disablepictureinpicture
    >
      <source src="video1.mp4" type="video/mp4" />
    </video>

    {
      /*
  TODO: NUNCA DEBIO EXISTIR XD
  <div class='flex justify-center items-center mb-12'>
    <img
      src='/LOGOCIIS.svg'
      alt='Logo CIIS'
      class='w-60 md:w-72 h-auto'
    />
  </div>

  */
    }

    <dir class="mb-2 text-base md:text-lg mt-12">
      <Label description="Del 10 al 14 de noviembre del 2025">
        <IconStar size={5} fill="#7AAEF1" slot="icon" />
      </Label>
    </dir>

    <TitleMain description="" />

    <div class="mt-5">
      <FlagsContainer />
    </div>

    <div class="mb-4 text-focus-in">
      <Counter client:load eventDate={eventDate} />
    </div>

    <div class="flex justify-center my-8 text-focus-in">
      <SocialNetwork />
      {/* 
      TODO: TODAVIA NO SE ABRE LA INSCRIPCION
      <a
        href="/registro/planes"
        class="font-title bg-gray-100/90 text-gray-900 border border-white/20 px-9 py-3 rounded-full font-bold text-lg tracking-widest cursor-pointer inline-block transition-all duration-500 ease-in-out shadow-lg"
        tabindex="0"
        style="opacity: 1; box-shadow: rgba(70, 90, 130, 0.55) 0px 16.484px 32.4734px, rgba(100, 120, 160, 0.45) 0px 0px 32.4734px; transform: translateY(-0.863321px) scale(1.02242); background-color: oklab(0.967 -0.000285348 -0.0029864 / 0.9); color: oklch(0.21 0.034 264.665); backdrop-filter: blur(0px);"
      >
        INSCRÍBETE AHORA
      </a>
      */}
    </div>

    {
      /*
  TODO: NUNCA DEBIO EXISTIR XD
  <div class='flex justify-center mt-6'>
    <a
      href='/editions'
      class='px-6 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded transition-colors duration-200 font-semibold shadow'
    >
      Ver Ediciones Anteriores
    </a>
  </div>

  */
    }

    {
      /*
  
  TODO: Activar cuando se defina las nacionalidades de los ponentes
  
  */
    }
  </div>
</div>

<style>
  .calculate-height {
    height: calc(100dvh - 224px);
  }

  .text-primary {
    background-image: var(--accent-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .text-secondary {
    background-image: var(--accent-gradient-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
</style>
