---
import EditionMainContainer from "../gallery/components/EditionMainContainer.astro";
import Contest from "../contest-call-for-abstracts/components/Contest.astro";
---

<section class='space-y-24 mb-24'>
  <EditionMainContainer
    title='Call for Abstracts'
    description='Conoce cómo participar enviando el resumen de tu investigación y ser parte del programa del evento.'
    image='/FeriaTecnologia.webp'
  />
  <Contest
    title='II Call for Abstracts'
    description='Este evento académico busca promover la presentación de abstracts de investigación en el área de Ingeniería en Informática y Sistemas, en el que los participantes recibirán una retroalimentación de un jurado especializado.'
    image='/cfa.webp'
    date='Miércoles 12 de noviembre de 2025'
    time='9:00 a.m. - 11:00 a.m. | 2:00 p.m. - 4:00 p.m.'
    place='Auditorio Juan Figueroa Salgado de Facultad de Ciencias Jurídicas Empresariales - UNJBG'
    base_rules='https://docs.google.com/document/d/132qhdQKE5aNO2LmmjI8TVHSCJRlsKdVAZoNb38GU81w/edit?tab=t.0'
    link_form='https://docs.google.com/forms/d/e/1FAIpQLSeLv9xEaWHNJTdJ18Qokwa8B_DkOuchxFJaJXepL6-W-vvcOg/viewform'
  >
  </Contest>
</section>
